/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.php_cs.cache
.phpunit.result.cache
homestead.json
homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/framework/cache/data/*
/storage/framework/views/*.php
/storage/framework/sessions/*
/storage/logs/*.log
/storage/app/public/*
/public/json/*.json
